
/* @Customize Container */
.container-1100 {
    max-width: 1100px !important;
}
.container {
    max-width: 1440px !important;
}

/* @Header title */
h2 {
    font-size: 44px;
    font-weight: 600;
}
h4 {
    font-size: 24px;
    font-weight: 600;
}

.gap-17 {
    gap: 4.5rem;
}

.top-2-5 {
    top: .8rem;
}

button span {
    width: 90% !important;
}

button div.whitespace-nowrap {
    font-size: 1rem;
    font-weight: bold;
}